:root {
  /* Colors */
  --color-error: #942f2f;
  --primary-color: #c0d8f0;
  --secondary-color: #f0e0d8;
  --dark-secondary: #e5bfaa;
  --accent-color: #d8f0e0;
  --light-green: #c8f0e0;
  --medium-green: #6bc09e;
  --dark-green: #306d55;
  --purple-color: #4f46e5;
  --dark-purple: #4f46e5;
  --neutral-0: #ffff;
  --neutral-1: #e0e0e0;
  --neutral-2: #ebebeb;
  --neutral-7: #bfbfbf;
  --neutral-10: #000;
  --light-blue: #c2d5f4;
  --very-light-blue: #e9f0fb;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

/*****************************************/
/*           Header Styles               */
/*****************************************/
header {
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 100;
  height: 3rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding: 0.75rem;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: var(--neutral-10);
  background-color: var(--neutral-0);
  padding: 0.25rem;
  border-radius: 0.5rem;
  transition: background-color 0.4s;
}

nav li a:hover,
.active-link {
  background-color: var(--dark-secondary);
}


/*****************************************/
/*           Post List Styles            */
/*****************************************/

.post-list {
  display: grid;
  gap: 0.625rem;
  justify-content: center;
  grid-template-columns: repeat(1, 100%);
  padding: 1.25rem;
}

@media (min-width: 768px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .post-list {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--light-blue),
    var(--very-light-blue)
  );

  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*****************************************/
/*          Search Section Styles        */
/*****************************************/

.search-section {
  position: relative;
  width: 100%;
  max-width: 400px; /* אפשר לשנות לפי הצורך */
}

.search-input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem; /* מוסיפים פדינג מצד ימין למקום לאייקון */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem; /* מרחק מהצד הימני */
  transform: translateY(-50%);
  color: #888;
  pointer-events: none; /* כדי שהאייקון לא יפריע ללחיצות */
  font-size: 1.2rem;
}


