body {
  direction: rtl;
  font-family: 'Fredoka', cursive;

}

.post-list{
display: grid
;
    grid-template-columns: repeat(3, 200px);
    gap: 5px;
}
.post-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E8FFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 5px;
}